In [13]:
display(Markdown("# Data Science Tools and Ecosystem"))

# Data Science Tools and Ecosystem

In [14]:
display(Markdown("In this notebook, Data Science Tools and Ecosystem are summarized."))

In this notebook, Data Science Tools and Ecosystem are summarized.

In [15]:
display(Markdown("""
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java
"""))

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java

In [16]:
display(Markdown("""
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib
"""))

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib

In [17]:
display(Markdown("""
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |
"""))

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

In [19]:
display(Markdown("### Below are a few examples of evaluating arithmetic expressions in Python."))
# This a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

### Below are a few examples of evaluating arithmetic expressions in Python.

17

In [20]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [21]:
display(Markdown("""
**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries in Data Science.
- Provide examples of arithmetic expressions in Python.
- Convert minutes to hours using Python code.
"""))

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries in Data Science.
- Provide examples of arithmetic expressions in Python.
- Convert minutes to hours using Python code.

In [22]:
display(Markdown("## Author\nAnel Morales"))

## Author
Anel Morales